/* Write your code here. */
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  background-size: cover;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Roboto";
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 40px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 778px) {
  .btn-container {
    flex-direction: row;
  }
}

.btn {
  border: 0;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Roboto";
  font-size: 15px;
  margin-bottom: 25px;
  margin-right: 20px;
}

.like {
  background-color: #eab308;
}

.comment {
  background-color: #ffffff;
}

.share {
  background-color: #1d4ed8;
}
